This XML file does not appear to have any style information associated with it. The document tree is shown below.
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>
https://archive.org/download/snapplus_201705a1iraqi/snapplus.ipa
</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<false/>
<key>url</key>
<string>
http://www.up-9.com/imagef-151046046474051-png.html
</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<false/>
<key>url</key>
<string>
http://www.up-9.com/imagef-151046046474051-png.html
</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>vip.othman.seothman</string>
<key>bundle-version</key>
<string>1.2</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>Snapchat plus 2 تم الرفع من قبل عماد محمد \ متجر تطبيقات البلس - App Plus </string>
</dict>
</dict>
</array>
</dict>
</plist>